@media (max-width: 600px) {
    

 
    .container {
        display: block;
    }
    
    /* Exercici 6*/
    .grid-content {
        display: block;
     }
}

@media (max-width: 375px) {
    /** Exercici 8 */
    body {
        background-image: url(" ");
       }
   


    
}
 
/*add alt <img class="site-logo-bg" src="img/logo-bg.png">

.grid-content-tile-img { alt="Girl in a jacket"  }
*/
